li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.navContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 10%;
  padding-right: 10%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &:hover {
    background-color: #fff;
    height: 14.25rem;
  }
}

.navLogo {
  color: #002d61;
  text-decoration: none;

  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01125rem;

  position: fixed;
  top: 2.5rem;
}

.menuContainer {
  display: flex;
  justify-content: space-between;

  width: 60%;
  text-align: center;

  padding-top: 2.5rem;
}

.navMenu {
  color: #002d61;
  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0075rem;
}

.dropDown {
  display: none;
}

.navContainer:hover .dropDown {
  display: block;
  padding-bottom: 2rem;
}

.dropDownMenu {
  color: #002d61;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.12px;
  text-decoration: none;
}

.login {
  color: #002d61;
  text-decoration: none;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.00675rem;
}
